html {
	margin : 0 ;
	height: 100%;
}
body {
	background-image: linear-gradient(to right ,rgb(5,42,246),rgb(20,156,89));
	color: silver;
	width : 100%;
	height : 100%
	margin : 0px;
	text-shadow: 1px 1px 1px black;
}
header {
	justify-content: center;
}
h1 ,h2{
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 15px;
	font-weight: bold;
}
h2 {
	font-size: 1.2em;
	letter-spacing: 10px;
}
.container {

}

.colorPickCont {
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 100%;
	margin: 10px;
}
#bg-proprety {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
.currentspacing{
	justify-content: center;
	align-content: center;
	text-align: center;
	font-weight: bold;

}

.normal_buttons {
	width : 140px;
	height: 40px;
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: white;
	border: none;
	border-color: silver;
	border-radius: 3px;
	transition: all 0.5s;
	margin : 5px;
	box-shadow: 1px 1px 1px black;
}

.normal_buttons:hover {
	transform: translate(0px , -5px);
	background-color: #D2696C;
}

#angleInput {
	width : 136px;
	height: 36px;
	font-size: 1em;
	text-transform:none;
	letter-spacing:none;
	border: 2px solid;
	border-color: silver;
	border-radius: 5px;
}

#angleInput:hover {
	transform: unset;
	background-color: white;
}

.errorInput {
	border-color: red !important;
}

.randomBtn {
	font-size: 1.1em;
	width: 210px;
	height: 50px;

}
.randomBtn:hover{
	transform: scale(1.1);
}

.randomBtn:focus {
	border-color: silver;
}


.colorpickers  {
	border : none;
}
